@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

$grid-breakpoints: (xs: 492px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1300px,
        xxxl: 1400px,
);

$container-max-widths: (sm: 540px,
        md: 720px,
        lg: 940px,
        xl: 1150px,
);
@import "core/bootstrap";
@import "core/variables";
@import "core/mixins";
@import "theme/main";